<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Web API: Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Angular: Getting started</h2>
        <p>
            HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. 
            AngularJS lets you extend HTML vocabulary for your application. 
            The resulting environment is extraordinarily expressive, readable, and quick to develop.
        </p>
        <p><a class="btn btn-default" href="https://angularjs.org/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure AD: Getting started</h2>
        <p>Azure Active Directory is a comprehensive identity and access management cloud solution that provides a robust set of capabilities 
           to manage users and groups and help secure access to on-premises and cloud applications including Microsoft online services such 
           as Office 365 and a world of non-Microsoft SaaS applications.
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/en-gb/services/active-directory/" target="_blank">Learn more &raquo;</a></p>
    </div>    
</div>
